<div class="container">
  <h1 class="logo">JOHN J. VEHR</h1>
  <p><strong>Full Stack Developer . Teton Based . Startups</strong></p>
  <p>Ruby on Rails, AngularJS, KnockoutJS, PostgreSQL, MySQL, Git, Heroku..<br>
    technical blog will be up soon</p>
  <a href="mailto:vehr@johnvehr.com">email me</a><small> If you're an Angel or VC, please inquire about active building startups</small>
</div>
